@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800|Open+Sans:400,600,700,800&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
h1{
    color: #36226f;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
p{
    color: #bab5b2;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.container{
    width: 90%;
    margin: auto;   
}

/* header part */

header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.logo{
    width: 20%;    
}
.nav{
    width: 60%;   
}
.nav ul{
    display: flex;
    justify-content: flex-end;
}
.nav ul li{

}
.nav ul li a{
    padding-left: 30px;
    text-transform: uppercase;
    color: #33417c;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

/* header part */

/* banner part */

.banner{
    background-image: url(../images/banner.png);
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;    
}
.content{
    width: 472px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content h1{
    color: #fff;
    font-size: 50px;
    font-weight: 700;    
}
.icon{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    animation: icon-ani 1s linear infinite;
    animation-direction: alternate;
}
.icon i{
    color: #fff;
    font-size: 25px;
}
@keyframes icon-ani{
    0%{
        transform: translate(-50%, 0%);
    }
    100%{
        transform: translate(-50%, -80%);
    }
}

/* banner part */

/* who we are */

.who-we-are-content{
    margin-top: 100px;
    width: 50%;
    float: left;
    position: relative;
}
.who-we-are-content::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 6px;
    background-color: #e44e23;
}
.who-we-are-content h1{
    margin-top: 30px;
}
.who-we-are-content p{
    margin-top: 30px;
}
.who-we-are-img{
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;
}
.who-we-are-img img{
    margin-top: 70px;
    width: 75%;
}

/* who we are */

/* what we do */

.what-we-do-content{
    width: 100%;
}
.what-we-do-part{
    background-color: #f7f8f8;
    background-image: url(../images/what-we-do-cover.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.header{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 221px;
    margin: auto;
    position: relative;
    padding-bottom: 86px;
}
.header::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 6px;
    background-color: #e44e23;
    left: 50%;
    transform: translate(-50%);
}
.header h1{
    margin-top: 20px;
}
.what-we-do-content{
    display: flex;
          
}

.what-we{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    opacity: 0;
    width: 234px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: #fff;
    transition: all .4s ease;
}
.item{
    width: 100%;
    position: relative;
    padding: 10px;
}
.item:hover .what-we{
    opacity: 1;
    transform: translate(-50%, -50%);
}

.img{
    position: relative;
    margin-bottom: 45px;
}
.img::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,207cca+36,207cca+36,2989d8+36,391974+100&0+1,1+100 */
background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(30,88,155,0) 1%, rgba(41,137,216,0.35) 36%, rgba(57,25,116,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,88,155,0) 1%,rgba(41,137,216,0.35) 36%,rgba(57,25,116,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(30,88,155,0) 1%,rgba(41,137,216,0.35) 36%,rgba(57,25,116,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#391974',GradientType=0 ); /* IE6-9 */

}
.item:hover .img::after{
   opacity: 1;  
   top: 0;
}
.item i{
    position: absolute;
    left: 20%;
    transform: translatex(-50%);
    font-size: 30px;
    bottom: 20%;
    color: #fff;
    opacity: 0;
    transition: all .4s ease;
}
.item:hover i{
    opacity: 1;
    transform: translatex(-50%);
    left: 50%;
}
.item img{
    width: 100%;    
}

/* what we do */

/* our-attorneys */

.our-attorneys{
    background-image: url(../images/our-attorneys-cover.png);
    height: 1200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.our-attorneys .container{
    display: flex;
    justify-content: space-between;
}
.side-header{
    width: 25%;
    padding-top: 200px;
    position: relative;
}
.side-header::before{
    content: '';
    width: 30%;
    height: 6px;
    background-color: #e76128;
    position: absolute;
    left: 0;
    top: 160px;
}
.side-header h1{
    color: #fff;
}
.side-header p{
    color: #a3a0cc;
    padding-top: 30px;
    padding-bottom: 30px;
}
.side-header a{
    color: #e76128;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.images_content{
    width: 70%;
    padding-top: 50px;
}
.images-content-top{
    width: 100%;display: 
    flex;justify-content: 
    space-between;
}
.images-content-down{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.front-images{
    width: 48%;
    position: relative;
}
.front-images:hover .img-content{
    opacity: 1;
}
.img-content{
    opacity: 0;
}
.img-file{
    position: relative;
}
.front-images:hover .img-file::after{
    opacity: 1;
}
.img-file::after{
    opacity: 0;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,3a1372+100&0+1,1+100 */
background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(30,88,154,0) 1%, rgba(41,137,216,0.49) 50%, rgba(32,124,202,0.5) 51%, rgba(58,19,114,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,88,154,0) 1%,rgba(41,137,216,0.49) 50%,rgba(32,124,202,0.5) 51%,rgba(58,19,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(30,88,154,0) 1%,rgba(41,137,216,0.49) 50%,rgba(32,124,202,0.5) 51%,rgba(58,19,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#3a1372',GradientType=0 ); /* IE6-9 */
}
.img-file img{
    width: 100%;
}
.img-content{
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-60%, -20%);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    width: 50%;
}

/* our-attorneys */

/* the-languages-part */


.the-languages-part{

}
.the-languages-header{
    padding-top: 50px;
    width: 269px;
    margin: auto;
    position: relative;
    margin-top: 50px;
}
.the-languages-header::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 6px;
    background-color: #e44e23;
    left: 50%;
    transform: translate(-50%);
    top: 30px;
}

.the-languages-header h1{
    
}
.the-languages-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
}
.the-languages-content-lan{
    width: 24%;
}
.the-languages-content h2{
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #36226f;
    text-transform: uppercase;
}
.the-languages-content p{
    margin-bottom: 30px;
}
.the-languages-content a{
    color: #e76128;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

/* the-languages-part */

/* contact-us-part */

.contact-us-part{
    background-color: #36226f;
    height: 400px;
    padding-top: 100px;
    width: 100%;
}
.contact-us-header{
    width: 204px;margin: auto;
    position: relative;
}
.contact-us-header::before{
    position: absolute;
    content: "";
    background-color: red;
    width: 70px;
    height: 6px;
    bottom: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact-us-header h1{    
    color: #fff;
}
.contact-us-content{
    width: 600px;
    margin: auto;
    padding-top: 50PX;
}
.contact-us-content input{
    margin-bottom: 19px;
    background: transparent;
    padding-bottom: 5px;
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
    height: 20px;
    color: #fff;
    border: none;
    border-bottom: 1px #6c64a0 solid;
}


.contact-us-content input[type=submit]{
    transform: translate(-50%, 0);
    width: 40%;
    cursor: pointer;
    background-color: red;
    border: none;
    height: 35px;
    padding: 9px;
    display: block;
    margin: 30px 50%;
}
.contact-us-content input{
    border: none;
    border-bottom: 1px #6c64a0 solid;
}

/* contact-us-part */

/* footer */

footer{
    background-color: #16102b;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    width: 100%;
}
footer .container{
    display: flex;
    justify-content: space-between;
}
.terms{
    width: 30%;
}
.terms p{
    color: #6c64a0;
}
.social_follow{
    width: 30%;
}
.social_follow ul{
    display: flex;
    justify-content: flex-end;
}
.social_follow ul li{
    
}
.social_follow ul li a{
    padding-left: 30px;
    color: #fff;
}

/* footer */









